.main {
  background: rgb(3, 82, 125);
  background: radial-gradient(
    circle,
    rgba(3, 82, 125, 1) 0%,
    rgba(3, 110, 125, 1) 100%
  );
}

.introduction {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.servicesHeader {
  padding-top: 4rem;
  color: white;
  text-align: center;
  margin: 4rem 0;
}

.servicesWrapper {
  display: flex;
  justify-content: space-around;
}

.serviceCard {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 400px;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*Mobile*/
@media (max-width: 600px) {
  .servicesWrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .serviceCard {
    width: 300px;
  }
}
