.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .slider {
    margin: 0;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
}

.navButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}
