.main {
  margin: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

/*tablets */
@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}

/*Corrections on wider screen*/
@media (min-width: 768px) {
  .main {
    justify-content: space-between;
  }
}

.Introduction {
  font-size: larger;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
}

/*Mobile*/
@media (max-width: 600px) {
  .Introduction {
    font-size: medium;
    text-align: center;
    padding: 1rem;
    align-items: center;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 200px;
  background: linear-gradient(45deg, #000, #444);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

/*button size for mobile */
@media (max-width: 600px) {
  .button {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
  }
}
